*, *::after, *::before{
    box-sizing: border-box;
}
:root{
    --spacing-medium: 8px;
    --spacing-regular: 16px;

    --font-size-small: 0.5rem;
    --font-size-regular: 1rem;
    --font-size-large: 2rem;
    --font-size-xl: 4rem;

    --font-weight-semibold: 600;
}
body{
    color:white;
    padding: var(--spacing-regular);
    font-family: 'Poppins', sans-serif;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}
body:before{
    content: "";
    background: url(/images/cloud.gif.gif) no-repeat center/cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
}
h1,h2{
    margin:0;
}
p{
    margin: var(--spacing-regular);
}
/* mobile-first-approach */
.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "search search"
    "current current"
    "hourly hourly"
    "five-days five-days"
    "feels-like humidity"
    ;
    gap: var(--spacing-regular)
}
.container>article{
    border: 1px solid;
    border-radius: var(--spacing-regular);
    padding: var(--spacing-regular);
    border:none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.75);
}
.container #search{
    grid-area: search;
    font-size: var(--font-size-large);
    font-family: 'Poppins', sans-serif;
    border: none;
    border-radius: var(--spacing-regular);
    padding: var(--spacing-regular);
    height: 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.75);
}
.container #search::placeholder{
    font-family: 'Poppins', sans-serif;
    font-size: var(--font-size-regular);
    text-align: justify;
}
/* styles releated to current weather data */
/* current-forecast styling */
.container #current_forecast{
    border: none;
    box-shadow: none;
}
#current_forecast{
    grid-area: current;
    text-align: center;
}
#current_forecast .temp{
    font-size: var(--font-size-xl);
}
#current_forecast .description{
    text-transform: capitalize;
}
#current_forecast .description, #current_forecast .min-max-temp{
    font-weight: var(--font-weight-semibold);
}

/* styles related to hourly forecast */
#hourly_forecast{
    grid-area: hourly;
    text-align: center;
}
#hourly_forecast .hourly-container{
    display:grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-auto-columns: minmax(100px, 1fr);
    overflow-x: scroll;                                  
    gap: var(--spacing-medium);
}

#hourly_forecast .hourly-container .icon{
    height: 100px;
    width: 100px;
    object-fit: contain;
}
#hourly_forecast .hourly-container .hourly-temp{
    font-size: var(--font-size-regular);
    font-weight: var(--font-weight-semibold);
}
/* styling related to five days forecast */
#five_days_forecast{
    grid-area: five-days;
    text-align: center;
    padding: var(--spacing-medium);
}
#five_days_forecast .five-days-forecast-container{
    display: grid;
}
#five_days_forecast .five-days-forecast-container .forecast-container{
    display: grid;
    grid-template: auto / repeat(4, 1fr);
    place-content: center;
    gap: var(--spacing-regular)
}
#five_days_forecast .five-days-forecast-container .forecast-container .min-temp, #five_days_forecast .five-days-forecast-container .forecast-container .max-temp{
    font-size: var(--font-size-regular);
    font-weight: var(--font-weight-semibold);
}

#five_days_forecast .five-days-forecast-container .forecast-container .forecast-icon{
    width: 75px;
    height: 75px;

}
#five_days_forecast .five-days-forecast-container .forecast-container .min-temp{
    opacity: 50%;
}
#five_days_forecast .five-days-forecast-container .forecast-container .forecast-day{
    text-transform: capitalize;
    justify-self: start;
}
#five_days_forecast .five-days-forecast-container .forecast-container .max-temp{
    justify-self: end;
}


#feels_like{
    grid-area: feels-like;
    text-align: center;
}
#feels_like .feel_like{
    font-size:var(--font-size-regular);
    font-weight: var(--font-weight-semibold);
}
#humidity{
    grid-area: humidity;
    text-align: center;
}
#humidity .humidity_value{
    font-size:var(--font-size-regular);
    font-weight: var(--font-weight-semibold);
}

/* //media-query */

@media (width>=655px) {
    .container{
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: 
        "search search search search"
        "current current current current"
        "hourly hourly five-days five-days"
        "feels-like humidity five-days five-days"
        ;
    }
}